{% extends 'base.empty.html.twig' %}

{% block body %}
<div class="panel-heading"><h1>любая информация</h1></div>

<div class="row">
  <div class="col-md-10">

  {{ dump(tmp) }}

  </div>

</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
