{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel-heading"><h1>Демон астериска</h1></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="form-group">
                <button class="btn btn-success">Запустить демона</button>
                <button class="btn btn-warning">Остановить демона</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
