{% extends 'base.html.twig' %}

{% block body %}
<div class="panel-heading"><h1>Автоинформатор</h1></div>

<div class="row">
  <div class="col-md-10">report</div>

</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
